---
layout: splash
title: Vejle Idrætshøjskoles Elevforening
header:
  image: /assets/images/cover.jpg
some:
  - excerpt: 'Følg os på &nbsp; [<i class="fab fa-facebook-f"></i> Facebook](https://www.facebook.com/elevforeningen/){: .btn .btn--facebook } og [<i class="fab fa-instagram"></i> Instagram](https://www.instagram.com/elevforeningenvih/){: .btn .btn--warning }'
intro:
  - excerpt: |
      Elevforeningens fornemste opgave er at skabe et sammenhold omkring Vejle Idrætshøjskole for alle de tidligere elever, der gerne vil vedligeholde kontakten med hinanden og skolen.
feature_row:
  - title: Gensynsweekend
    excerpt: Hvert år arrangerer vi gensynsweekend for alle tidligere elever. Her inviterer vi også jubilarer til nostalgi.
  - title: Forårsfest
    excerpt: Vi inviterer den seneste årgang tilbage til skolen til et brag af en forårsfest med de nuværende elever.
  - title: Nyheder
    excerpt: Vi udsender nyhedsbreve og opdaterer de tidligere elever på Facebook med alle aktiviteterne.
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="some" type="center" %}

{% include feature_row id="feature_row" %}

<p>Tak fordi du kigger forbi elevforeningens hjemmeside.</p>

<p>Elevforeningens fornemste opgave er at skabe et sammenhold omkring Vejle Idrætshøjskole for alle de tidligere elever, der gerne vil vedligeholde kontakten med hinanden og skolen. Det gør vi bl.a. ved at hvert år i august at invitere til en stor gensynsweekend for alle tidligere elever og udsende nyhedsbreve.</p>

<p><strong>Det er gratis at være medlem af elevforeningen.</strong></p>

<p>Du kan <a href="/om/">læse mere om elevforeningen her</a>.</p>
